In [1]:
import pandas as pd
import numpy as np
import os

## File Guest

In [29]:
df_guest = pd.read_excel("raw_datasets/guests.xlsx", index_col=0)

In [30]:
df_guest.head()

     guest  discount
0  guest_1      0.09
1  guest_2      0.00
2  guest_3      0.07
3  guest_4      0.00
4  guest_5      0.10

In [31]:
df_guest.tail()

           guest  discount
3995  guest_3996      0.00
3996  guest_3997      0.15
3997  guest_3998      0.07
3998  guest_3999      0.08
3999  guest_4000      0.07

In [32]:
# Guest duplicati
df_guest.guest.duplicated().any()

False

In [33]:
# Range discount
df_guest.discount.min(), df_guest.discount.max()

(0.0, 0.19)

In [34]:
# Check nan
df_guest.isna().any()

guest       False
discount    False
dtype: bool

In [35]:
# Check Type
df_guest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   guest     4000 non-null   object
 1   discount  4000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 93.8+ KB

## File Hotels

In [4]:
df_hotel = pd.read_excel('raw_datasets/hotels.xlsx', index_col=0)

In [44]:
df_hotel.head()

     hotel  rooms  price
0  hotel_1     13    273
1  hotel_2     18     92
2  hotel_3     12    141
3  hotel_4     18    157
4  hotel_5      7    298

In [45]:
df_hotel.tail()

         hotel  rooms  price
395  hotel_396      5    212
396  hotel_397     12     68
397  hotel_398     14    102
398  hotel_399     16    284
399  hotel_400     14    145

In [18]:
# Guest duplicati
df_hotel.hotel.duplicated().any()

False

In [23]:
# Range rooms
df_hotel.rooms.min(), df_hotel.rooms.max()

(5, 19)

In [24]:
# Range price
df_hotel.price.min(), df_hotel.price.max()

(50, 299)

In [25]:
# Check nan
df_hotel.isna().any()

Unnamed: 0    False
hotel         False
rooms         False
price         False
dtype: bool

In [27]:
# Check Type
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  400 non-null    int64
 1   hotel       400 non-null    object
 2   rooms       400 non-null    int64
 3   price       400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

## Preferences

In [2]:
df_pref = pd.read_excel("raw_datasets/preferences.xlsx", index_col=0)

In [3]:
df_pref.head()

     guest      hotel  priority
0  guest_1  hotel_168         1
1  guest_1  hotel_207         2
2  guest_1  hotel_222         3
3  guest_1  hotel_124         4
4  guest_1  hotel_223         5

In [46]:
df_pref.tail()

            guest      hotel  priority
99528  guest_4000  hotel_123        28
99529  guest_4000  hotel_396        29
99530  guest_4000  hotel_161        30
99531  guest_4000  hotel_330        31
99532  guest_4000  hotel_290        32

In [47]:
# Range price
df_pref.priority.min(), df_pref.priority.max()

(1, 49)

In [48]:
# Check nan
df_pref.isna().any()

guest       False
hotel       False
priority    False
dtype: bool

In [49]:
# Check Type
df_pref.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99533 entries, 0 to 99532
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   guest     99533 non-null  object
 1   hotel     99533 non-null  object
 2   priority  99533 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.0+ MB

In [51]:
# Guest Hotel duplicati
df_pref.duplicated(subset=["guest", "hotel"]).any()

True

In [52]:
p = df_pref.groupby(["guest", "hotel"])['priority'].count()

p[p>1]

guest      hotel
guest_1    hotel_129    2
guest_10   hotel_292    2
           hotel_95     2
guest_100  hotel_154    2
           hotel_300    2
                       ..
guest_992  hotel_297    2
guest_994  hotel_248    2
           hotel_351    2
guest_998  hotel_199    2
           hotel_381    2
Name: priority, Length: 3652, dtype: int64

In [12]:
df_pref[(df_pref.guest=='guest_1') & (df_pref.hotel=='hotel_129')]

     guest      hotel  priority
6  guest_1  hotel_129         7
9  guest_1  hotel_129        10

In [53]:
df_pref = df_pref.groupby(['guest', 'hotel'], as_index=False)['priority'].min().rename(columns={'priority': '_priority'})
df_pref['priority'] = 1

In [54]:
df_pref['priority'] = df_pref.sort_values(['guest', '_priority']).groupby(['guest'], as_index=False)['priority'].cumcount() + 1
df_pref = df_pref.sort_values(['guest', 'priority'])

In [56]:
df_pref.head(20)

       guest      hotel  _priority  priority
4    guest_1  hotel_168          1         1
5    guest_1  hotel_207          2         2
7    guest_1  hotel_222          3         3
2    guest_1  hotel_124          4         4
8    guest_1  hotel_223          5         5
11   guest_1  hotel_297          6         6
3    guest_1  hotel_129          7         7
1    guest_1   hotel_12          8         8
0    guest_1    hotel_1          9         9
14   guest_1   hotel_46         11        10
13   guest_1  hotel_343         12        11
12   guest_1  hotel_338         13        12
15   guest_1   hotel_90         14        13
10   guest_1  hotel_269         15        14
9    guest_1  hotel_237         16        15
6    guest_1   hotel_22         17        16
16   guest_1   hotel_97         18        17
39  guest_10   hotel_60          1         1
30  guest_10  hotel_317          2         2
41  guest_10   hotel_95          3         3

In [58]:
# Guest Hotel duplicati
df_pref.duplicated(subset=["guest", "hotel"]).any()

False

## Export in CSV

In [57]:
df_guest.to_csv("guests.csv", index=False)
df_hotel.to_csv("hotels.csv", index=False)
df_pref.to_csv("preferences.csv", index=False)